<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602540310532-eduo6jp0omifljh2mpl9m2g0p75cbm2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602540310532-eduo6jp0omifljh2mpl9m2g0p75cbm2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAodz6Eb2ARoD9Mnlx0K-f4ynUcSXBkakg</string>
	<key>GCM_SENDER_ID</key>
	<string>602540310532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.bts.instaping</string>
	<key>PROJECT_ID</key>
	<string>instaping-ecbb7</string>
	<key>STORAGE_BUCKET</key>
	<string>instaping-ecbb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:602540310532:ios:8ffe483776a5ba33</string>
	<key>DATABASE_URL</key>
	<string>https://instaping-ecbb7.firebaseio.com</string>
</dict>
</plist>